html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #282c34;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  /* Colores principales */
  --main-color: #49ADBC;
  --secondary-color: #1B4565;

  /* Colores adicionales */
  --warning-color: #FFA726;

  /* Naranja para advertencias */
  --cancel-color: #840606;

  /* Rojo claro para cancelar */
  --alert-color: #FF5252;
  /* Rojo más fuerte para alertas */

  --submit-color: #66BB6A;
  /* Verde para acciones de envío */

  /* Otros colores de uso general */
  --info-color: #29B6F6;

  /* Azul claro para información */
  --success-color: #4CAF50;
  /* Verde para éxito */

  --neutral-color: #9E9E9E;
  /* Gris para estados neutros */
}

/*-------------------------------
                                -
              Utlis             -
                                -
---------------------------------*/

.inputs-container {
  display: grid;
  gap: 10px;
}

.submit {
  padding: 5px 20px;
  border-radius: 15px;
  border: none;
  background-color: var(--secondary-color);
  color: white;
  cursor: pointer;
  font-size: calc(10px + 1vmin);
  transition: all ease .5s;
}

.submit:hover {
  background-color: var(--main-color);
}

.cancelar {
  padding: 5px 20px;
  border-radius: 15px;
  border: none;
  background-color: #dc3545;
  color: white;
}

.text-input {
  min-width: 300px;
  padding: 10px;
  border-radius: 15px;
  border: none;
  margin-bottom: 10px;
  outline: none;
}

.checbox-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0px;
}

.custom-span-error-class {
  display: block;
  color: red;
  font-size: 0.8rem;
}
.buttons{
  display: flex;
  justify-content: space-around;
}
.btn {
  padding: 5px 20px;
  border-radius: 15px;
  border: none;
  background-color: var(--warning-color);
  color: white;
  cursor: pointer;
  font-size: calc(10px + 1vmin);
  transition: all ease .5s;
}
.btn:hover {
  background-color: var(--main-color);
}
.info{
  background-color: var(--info-color);
}
.success{
  background-color: var(--success-color);
  margin-top: 1em;
}
.cancelar{
  background-color: var(--cancel-color);
  margin-top: 1em;
}
.cancelar:hover{
  background-color: var(--alert-color);
}
.buttonsContainer{
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 2em;
}


/* Contenedor general del select */
.select {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  font-family: 'Arial', sans-serif;
}

/* Estilo para el label */
.select label {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 5px;
}

/* Estilo para el select */
.select select {
  width: 320px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 15px;
  background-color: #fff;
  color: #333;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

/* Estilo cuando el select está enfocado */
.select select:focus {
  border-color: #4A90E2;
  box-shadow: 0 0 8px rgba(74, 144, 226, 0.4);
}

/* Cambio de color del select cuando hay un error */
.select select.invalid {
  border-color: #E74C3C;
}

/* Estilo para el mensaje de error */
.custom-span-error-class {
  color: #E74C3C;
  font-size: 12px;
  margin-top: 5px;
}

/* Estilo para la animación de error */
@keyframes fadeInError {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.custom-span-error-class {
  animation: fadeInError 0.3s ease-in-out;
}

/* Estilo para el select en modo hover */
.select select:hover {
  border-color: #bbb;
}

.selected{
  background-color: var(--main-color);
  color: white;
}

.container-buttons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1em;
  gap: 1em;
}

/*-------------------------------
                                -
         Nav main-layout        -
                                -
---------------------------------*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-layout {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 200px 1fr;
  overflow: hidden;
}

nav {
  background-color: var(--secondary-color);
  height: 100vh;
  grid-column: 1;
  grid-row: 1/2;
}

nav ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
}

nav li {
  list-style: none;
  margin-bottom: 10px;
}

nav li a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}

.nav-active {
  color: grey;
  transition: all .3s ease-out;
}


/*-------------------------------
                                -
             Layout             -
                                -
---------------------------------*/

.logo-layout{
  width: 100%;
}

/*-------------------------------
                                -
             Main               -
                                -
---------------------------------*/
.main{
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
  overflow-y: auto;
  scroll-behavior: auto;
}

/*-------------------------------
                                -
         Login Page             -
                                -
---------------------------------*/

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--secondary-color);
  overflow: hidden;
}

.login .submit {
  float: right;
}

.titleLogin{
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  color: transparent;
  -webkit-text-stroke: .2px white;
}
.container-login{
  position: relative;
  z-index: 2;
}
.particleCanvas{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.mentius-title {
  position: fixed;
  top: 10%;
  width: 100%;
  text-align: center;
  font-size: 7rem;
  color: transparent;
  -webkit-text-stroke: .5px white;
  font-family: cursive;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  right: 100%;
  top: 0;
  width: 80%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: right 0.5s ease; 
}

.modal-active {
  display: grid; 
  justify-items: center;
  align-content: center;
  right: 0; 
  animation: slide-in 0.5s forwards; 
}

.modal-exit {
  animation: slide-out 0.5s forwards;
}

/* Animación de entrada */
@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Animación de salida */
@keyframes slide-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}


.container-permisos{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  width: 100%;
  margin-top: 2em;
}

.container-create{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  width: 100%;
  margin-top: 2em;
}

.container-asignacion-permisoRole{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.container-asignacion-permisoRole form{
  width: 100%;
}
.permisoRolList{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: 100%;
}

.permisoRolList ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: 100%;
}

.permisoRolList ul li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1em;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 15px;
}

.container-biometricos{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  gap: 1em;
  width: 100%;
}

.biomtricoCreate{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  gap: 1em;
  width: 100%;
}




/*-------------------------------
                                -
         Search Util            -
                                -
---------------------------------*/

.search-container {
  position: relative;
  width: 300px;
}

.search-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dropdown-list {
  position: absolute;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  list-style: none;
  padding: 0;
  color: #333;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

/*-------------------------------
                                -
         Personas               -
                                -
---------------------------------*/

.container-editar-persona{
  width: 100%;
  padding: 1em;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.formulario-persona{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5em;
}

.container-create-colaborador{
  width: 100%;
}

/*-------------------------------
                                -
         System Users           -
                                -
---------------------------------*/

.containerSystemUsers{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  gap: 1em;
}

.listSystemUserSelected {
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 90%;
  margin: 20px auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #eee;
 display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.listSystemUserSelected h2 {
  grid-column: span 2;
  font-size: 1.5em;
  color: #eee;
  margin-bottom: 20px;
  border-bottom: 2px solid #eaeaea;
  padding-bottom: 10px;
}

.listSystemUserSelected p {
  width: 45%;
  font-size: 1.1em;
  line-height: 1.6;
  margin: 10px 0;
}

.listSystemUserSelected p strong {
  font-weight: 600;
  color: #eee;
}

.listSystemUserSelected p:not(:last-child) {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
}

.listSystemUserSelected .no-user {
  text-align: center;
  font-style: italic;
  color: #7f8c8d;
  grid-column: span 2;
}
.formSystemUsers{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5em;
}

.createSystemUser{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  gap: 1em;
  margin-bottom: 1em;
  padding: 1rem 0rem;
  border-bottom: 1px solid #e0e0e0;
}
.formSystemUsers .cedulaSelected{
  width: 90%;
  font-size: 2em;
  text-align: end;
}